<div class="container">
  <h1>Enviar informe</h1>
  <div class="form-container">
    <div class="form-group">
      <label>Tipo de informe</label>
      <input type="text" name="tipo" [(ngModel)]="informe.tipo">
    </div>

    <div class="form-group">
      <label>Asunto</label>
      <input type="text" name="asunto" [(ngModel)]="informe.asunto">
    </div>

    <div class="form-group">
      <label>Descripción</label>
      <input type="text" name="descripcion" [(ngModel)]="informe.descripcion">
    </div>

    <button (click)="enviar()">Enviar informe</button>
  </div>
</div>

